<div id="LoginBox" class="six columns centered">
	<h1>Digite seu usuário e senha do Basecamp.</h1>
	<div id="name" class="alert-box alert">
		ATENÇÃO: O carregamento de todas as tarefas pode demorar até 5 minutos, não feche a janela.
	</div>
	<%=form_tag users_path, :method => :post%>

	<labeL>Usuário</labeL>
	<%=text_field_tag :username%>

	<labeL>Senha</labeL>
	<%=password_field_tag :password%>


	<%=submit_tag "Login", :class => "large button"%>
	<%#=link_to("Hein? O que é isso?", "#", :class => "secondary large button")%>
	</form>
</div>

